@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Mini Project for Bertoni Solutions</h1>
        <p>
            @Html.ActionLink("To learn more visit Album Page.", "Display", "Album")
        </p>
    </div>
